.radius-logo {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.radius-logo img {
  border-radius: 50%;
  width: 50px;
  margin-left: 100%;
  transform: translateX(-25px);
}

.land-page {
  @include small {
    &.land-page img {
      width: 90%;
      margin: 0 5%;
    }
  }
}

.land-page {
  @include medium {
    width: 95%;
    height: 400px;
    overflow: scroll;
    margin: 0 2.5%;
    // border: 8px solid black;
    // border-radius: 4px;
  }
}
