.module-cards h2 {
  text-align: center;
  font-family: axis;
}

.card-1 {
  @include small {
    &.card-1 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

.card-two {
  @include small {
    &.card-two img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

.card-3 {
  @include small {
    &.card-3 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

.card-1 {
  @include medium {
    &.card-1 img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}

.card-two {
  @include small {
    &.card-two img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}
