.module-cards h2 {
  text-align: center;
  font-family: axis;
}

.card-1 {
  @include small {
    &.card-1 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

.card-two {
  @include small {
    &.card-two img {
      width: 90%;
      margin: 50px 5%;
    }
  }
}

.card-3 {
  @include small {
    &.card-3 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

.card-4{
  @include small {
    &.card-4 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}

//medium size layout styles//
.card-1 {
  @include medium {
    &.card-1 img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}

.card-two {
  @include medium {
    &.card-two img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}

.card-3 {
  @include medium {
    &.card-3 img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}

.card-4 {
  @include medium {
    &.card-4 img {
      // float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}

.card-1 {
  @include large {
    &.card-1 img {
      width: 200px;
      float: left;
      margin: 2%;
    }
  }
}

.card-two {
  @include large {
    &.card-two img {
      width: 200px;
      float: left;
      margin: 2%;
    }
  }
}
.card-3 {
  @include large {
    &.card-3 img {
      width: 200px;
      float: left;
      margin: 2%;
    }
  }
}

.card-4 {
  @include large {
    &.card-4 img {
      width: 200px;
      float: left;
      margin: 2%;
    }
  }
}

.card-two, .fart1  {
  @include large {
    width: 100%;
    height: 200px;
    overflow: scroll;
    float: left;
  }
}

.module-cards {
  @include large {
    width: 100%;
    margin: 2% auto;
  }
}
// video content resizing //
.video {
  @include small {
      & iframe {
      width: 90%;
      margin: 20px 5%;
      border-top: 3px black solid;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 3px black solid;
    }
  }
}

.video {
  @include medium {
      & iframe {
      width: 90%;
      height: 340px;
      margin: 20px 5%;
      border-top: 3px black solid;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 3px black solid;
    }
  }
}


.video {
  @include large {
      & iframe {
      width: 40%;
      float: left;
      margin: 2% 5%;
      border: none;
    }
    & .content-border {
      width: 90%;
      border-top: 3px black solid;
      border-bottom: 3px black solid
    }
  }
}
