.module-cards h2 {
  text-align: center;
  font-family: axis;
  color: black;
}

// use of extend //
.module-cards h2:hover {
  @extend li:hover;
  color: darken($goldy, $percent);
}

.module-cards {
  @include large {
    width: 90%;
    height: auto;;
    overflow: scroll;
    margin: 0 5%;
  }
}

// card 1 //
.card-1 {
  @include small {
    &.card-1 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}
.card-1 {
  @include medium {
    &.card-1 img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}
.card-1 {
  @include large {
    &.card-1 img {
      width: 20%;
      float: left;
      margin: 2.5%;
    }
  }
}

// card 2 //
.card-two {
  @include small {
    &.card-two img {
      width: 90%;
      margin: 50px 5%;
    }
  }
}
.card-two {
  @include medium {
    &.card-two img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}
.card-two {
  @include large {
    &.card-two img {
      width: 20%;
      float: left;
      margin: 2.5%;
    }
  }
}

// card 3 //
.card-3 {
  @include small {
    &.card-3 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}
.card-3 {
  @include medium {
    &.card-3 img {
      float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}
.card-3 {
  @include large {
    &.card-3 img {
      width: 20%;
      float: left;
      margin: 2.5%;
    }
  }
}

// card 4 //
.card-4 {
  @include small {
    &.card-4 img {
      width: 90%;
      margin: 10px 5%;
    }
  }
}
.card-4 {
  @include medium {
    &.card-4 img {
      // float: left;
      width: 40%;
      margin: 2% 5%;
    }
  }
}
.card-4 {
  @include large {
    &.card-4 img {
      width: 20%;
      float: left;
      margin: 2.5%;
    }
  }
}


// video content resizing //
.video {
  @include small {
      & iframe {
      width: 90%;
      margin: 20px 5%;
      border-top: 3px black solid;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 3px black solid;
    }
  }
}
.video {
  @include medium {
      & iframe {
      width: 90%;
      height: 340px;
      margin: 20px 5%;
      border-top: 3px black solid;
      padding-top: 0px;
      padding-bottom: 10px;
      border-bottom: 3px black solid;
    }
  }
}
.video {
  @include large {
      & iframe {
      width: 40%;
      float: left;
      margin: 2% 5%;
      border: none;
    }
    & .content-border {
      width: 90%;
      border-top: 3px black solid;
      border-bottom: 3px black solid
    }
  }
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.content-border {
  height: 300px;
  // overflow: scroll;
}

.content-border p {
  height: 300px;
  overflow: scroll;
  text-align: justify;
}

.about-info h3 {
  font-family: axis;
  margin: 0px;
  margin-bottom: 2px;
}
// use of bourbon darken //
.about-info h3:hover {
  color: $goldy;
  color: darken($goldy, $percent);
}

.about-info {
  @include small {
    display: none;
  }
}
.about-info {
  @include medium {
    display: none;
  }
}
.about-info {
  @include large {
    display: block;
    margin: 0 5%;
    width: 40%;
    float: right;
    padding-top: 10px;
    overflow: hidden;
  }
}
