.navbar {
  height: 59px;
  padding-top: 5px;
  background: black;
}
.navbar img {
  width: 170px;
  float: left;
  z-index: 2;
}

li {
  display: inline-block;
  padding-left: 4px;
  color: white;
  font-family: axis;
}

ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}
